.frame-main{
    height: 1700px;
}
div.img{
    height: 500px;
}
div.img img{
    width: 100%;
    height: 500px;
}
.choose{
    height: 400px;
    margin: 10px 120px;

}
#icon{
    color:red;
    font-size: 60px;
    float: left;
    height: 150px;
    margin-right: 5px;
} 
.icon-set{
    width: 270px;
    height: 150px;
    float: left;
    margin: 0 10px;
}
p.text-left{
    text-align: left;
}
p.text-center{
    text-align: center;
}
#Search-tour input[type=text],input[type=datetime-local],button#btn,select{
    margin:0 70px;
    width: 200px;
    height: 30px;
    font-size: larger;
    padding: 2px;
    margin-top:4px;
    margin-bottom: 4px;
}
button#btn{
    color: white;
    width: 210px;
}
div.form{

    background-color:rgb(41, 40, 40) ;
    float: right;
    height: 300px;
    width: 350px;
    color: white;
}
.bground-image{
    background-image: url('../public/Main-img/travel3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
h2#topic{
    text-align: center;
    padding-top: 150px;
}
div.img-father{
    width: 1100px;
    height: 500px;
    margin: 50px auto;
}
div.img-baby{
    display: inline-block;
    background-color: white;
    width: 300px;
    height: 400px;
    margin: 30px 0 0 50px;
}
div.img-baby img{
    height: 200px;
    width: 100%;
}
.margin{
    margin:20px 20px;
}